canvas
{
	border-style:solid;
	border-width:1px;
	border-color:#000000;
	
	position:absolute;
	left:0px;
	top:0px;
}

#countLinks
{
	position:absolute;
	right:0px;
}

#copyContainer
{
	position:absolute;
	width:100%;
	left:0px;
	top:1030px;
	text-align:left;
}

#canvasContainer
{
	margin: auto;
	width:1024px;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	position:relative;

}

#guiContainer
{
	position:fixed;
	left:10px;
	bottom:40px;
	
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

#footer
{
	position:fixed;
	bottom:5px;
	
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

#canvas
{
	-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	
	background-color:#FFFFFF;
}

